{
	frankenphp
}

:80 {
	root * /app

	@options method OPTIONS
	handle @options {
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		header Access-Control-Allow-Headers "Content-Type, Authorization"
		respond 204
	}

	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type, Authorization"

	php_server
}